@import "../../../styles/breakpoints.scss";

.playersGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 256px);
  width: 1100px;
  margin: auto;

  @include fromMobile {
    grid-template-columns: repeat(3, 175px);
    grid-template-rows: repeat(5, 140px);
    width: 400px;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;

    @include fromMobile {
      width: 80px;
    }

    &--localUser {
      grid-area: 3 / 3;

      @include fromMobile {
        grid-area: 5 / 2;
      }
    }
  }
}

.table {
  width: 960px;
  position: absolute;
  transform: translate(14%, 50%);
  grid-row: 2;
  grid-column: 3;

  @include fromMobile() {
    max-width: 260px;
    transform: translate(40%, 35%);
  }

  &__outside {
    width: 90%;
    max-width: 720px;
    height: 370px;
    border: 3px solid #420099;
    border-radius: 999px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 16px 0px rgba(196, 87, 255, 0.5);
  }

  &__middle {
    width: 92%;
    height: 92%;
    border: 3px solid #9b4fff;
    border-radius: 999px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__inside {
    width: 92%;
    height: 92%;
    border: 2px solid #6e00ff;
    background-color: #250057;
    border-radius: 999px;
  }
}
