.container {
  width: 90%;
  max-width: 500px;
  border: #c457ff 1px solid;
  box-shadow: 0px 0px 16px 0px rgba(196, 87, 255, 0.5);
  background-color: #2d0066;
  border-radius: 18px;
  padding: 40px 0 30px;

  .wrapper {
    max-width: 290px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .selects {
    display: flex;
    justify-content: space-around;
  }

  .button {
    margin-top: 12px;
    display: flex;
    justify-content: center;
  }
}
