.container {
  width: 100vw;
  height: 100vh;
  background: radial-gradient(#6300db, #1f0045);
  overflow: auto;
  padding-bottom: 150px;

  &--inPokerTable {
    background: radial-gradient(#320070, #1f0045);
  }
}
