<div class="container">
  <header>
    <div class="wrapper">
      <img
        src="/images/logo.png"
        alt="Plannit Poker"
        width="60px"
        height="60px"
      />
      <h1 class="title">{{ title }}</h1>
      <div class="actions">
        <app-user-profile />
        <app-button
          variant="transparent"
          text="Invitar jugadores"
          (onClick)="onShowInviteModal(true)"
        />
      </div>
    </div>
  </header>
  <ng-content />
  <ng-container *ngIf="showInviteModal"><app-invite-modal /></ng-container>
</div>
