.container {
  position: relative;

  header {
    width: 100%;

    .wrapper {
      padding-top: 40px;
      width: 90%;
      margin: auto;
      display: flex;
      gap: 8px;
      align-items: center;
      justify-content: space-between;
    }

    .title {
      color: #fff;
    }

    .actions {
      display: flex;
      gap: 16px;
    }
  }
}
